* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr .25fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .6fr .4fr;
    grid-template-areas: 
                "man man main main avail avail"
                "man man crt crt avail avail"
                "ply inc inc inc avail avail"
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .3rem solid rgb(54, 53, 60);
    color: rgb(54, 53, 60)
}
#gameName {
    font-size: 50px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#msgBox {
    font-size: 35px;
    text-align: center;
    border: .2rem solid;
    padding: 5px;
    border-radius: 10px;
    color: rgb(54, 53, 60);
}

#correctLetters {
    grid-area: crt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: rgb(54, 53, 60);
    
    
}

#correctLetters > div {
    display: none;
}

#spcMan {
    grid-area: man;
    border-top: .3rem solid rgb(54, 53, 60);
    border-left: .3rem solid rgb(54, 53, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    width: 100%;

}

#availLetters {
    grid-area: avail;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 50px;
    border: .3rem solid rgb(54, 53, 60);
    color: rgb(54, 53, 60);
}

#plyAgain {
    grid-area: ply;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid rgb(54, 53, 60);
    border-right: none;
}

#incorrectLtrs {
    grid-area: inc;
    text-align: center;
    border: .3rem solid rgb(54, 53, 60);
    border-right: none;
    color: rgb(54, 53, 60);
}



